@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


body{
    background-color: #1b1d17;
    color: #DDF1F0;
}
b {
    color: #5896c9;
}
.header {
    margin-left: 18px;
}
.HelloWorld{
    color: #5896c9;
    font-family: "PT Mono", monospace;
    font-weight: 1000;
    letter-spacing: 4px;
}
.print {
    color: #DDF1F0;
}
.descr{
    font-family: "PT Mono", serif;
    font-size: 20px;
    margin-top: -18px;
    letter-spacing: 1px;
}

.card-tags, .tags{
    color: #4d71a8;
    font-weight: bold;
    font-family: "PT Mono", serif;
    letter-spacing: 1px;
}

/* Layout principal da .content */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
}

.card-preview {
    border: solid 3px #DDF1F0;
    color: #DDF1F0;
    background-color:#181a16;
    font-family: "PT Mono", serif;
    text-align: center;
    padding: 15px 30px;
    max-width: 300px;
    box-sizing: border-box;
}

.card-preview .card-tags {
    font-size: large;
    margin-bottom: 10px;
}

.card-descr {
    font-size: large;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }

    .card-preview {
        max-width: 100%;  /* O card ocupa toda a largura do contêiner */
        padding: 20px;
    }

    .card-preview .card-tags, .card-descr {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .content {
        flex-direction: column;
        gap: 15px;
    }

    .card-preview {
        max-width: 100%;
        padding: 15px;
    }

    .card-preview .card-tags, .card-descr {
        font-size: small;
    }
}

.article{
    padding: 25px;
    background-color:#181a16;
    font-family: "Quicksand", sans-serif;
    font-size: 22   px;
    letter-spacing: 1px;
}
.title{
    font-size: 40px;
}
.tags{
    font-size: x-large;
    margin-top: -28px;
}
.content{
    font-size: larger;
}
.a_withstyle{
    color:#4d79b9;
    text-decoration:underline;
}

