@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; 
}

/* Estilos globais */
body {
    position: relative;
    top: -61px;

    background-color: #1b1d17;
    color: #DDF1F0;
    margin: 0;
    padding: 20px;
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

hr {
    margin: 20px;
}

.title#Offtopic, .tags#Offtopic, .content#Offtopic b {
    color: #FD9720;
}

/* Media query para desktop */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .card-preview:hover {
        transform: translateY(-5px) scale(1.03);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }

    .article {
        max-width: 900px;
        margin: 0 auto;
    }
}

h1, h2, h3, h4 {
    margin: 2em 0 1em;
}

pre {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

::-webkit-scrollbar {
    width: 12px; 
}

@media (max-width: 1023px) {
    .nav-sidebar {
        display: none; 
    }
}