@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #1b1d17;
    color: #DDF1F0;
    margin: 30px;
    font-family: "PT Mono", monospace;
    letter-spacing: 1px;
    color: #4d71a8;
    padding-bottom: 60px; /* Garantir que o footer não cubra o conteúdo */
}

a#dont-show {
    text-decoration: none;
}

p {
    color: #fff;
}

orange {
    color: #FD9720;
}

blue {
    color: #4d71a8;
}

/* footer style */
.footer {
    background-color: #181a16;
    color: #DDF1F0;
    padding: 20px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    font-size: 1rem;
    margin: 0;
}

.footer-link {
    color: #5896c9;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Responsividade para telas médias */
@media (max-width: 768px) {
    .footer {
        padding: 15px;  
    }

    .footer-content {
        flex-direction: column;
    }

    .footer p {
        font-size: 0.9rem;  
    }

    .footer-link {
        margin: 5px 0;  
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 480px) {
    .footer {
        padding: 10px; 
    }

    .footer p {
        font-size: 0.8rem; 
    }

    .footer-link {
        font-size: 0.9rem;
        margin: 5px 0;  
    }
}
